<?xml version="1.0" encoding="utf-8"?>
<resources>
  <string name="app_name">Kapusch Facebook Android Sample</string>
  <!-- Example placeholders; replace locally to run end-to-end. -->
  <string name="facebook_app_id">000000000000000</string>
  <string name="facebook_client_token">00000000000000000000000000000000</string>
  <string name="facebook_login_protocol_scheme">fb000000000000000</string>
</resources>
